---
- name: Ensure SSH port is set
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Port '
    line: 'Port {{ FORCE_SSH_PORT }}'
    state: present

- name: Ensure SSH service is enabled and started
  service:
    name: sshd
    state: restarted
    enabled: yes
